.tab-arrow(
  v-show="tabArrows.show"
  :class="{'disabled': !tabArrows.isLeftActive }"
  @mousedown="onTabArrowMouseDown(-25)"
  @mouseup="onTabArrowMouseUp"
  @mouseout="onTabArrowMouseUp")
  span &lt;

ul.bookmark_tab-list
  .tab-group(
    v-for="(tab, i) in workspace"
    :key="i"
    v-if="!isStatisticsOrTestOpened || (tab.networkMeta.openStatistics !== null && isStatisticsOrTestOpened && statisticsIsOpen) || (tab.networkMeta.openTest !== null && isStatisticsOrTestOpened && testIsOpen)"
  )

    li.btn.bookmark_tab(
      :class="(currentNetworkIndex === i && !tab.networkMeta.openStatistics && !tab.networkMeta.openTest) ? 'btn--outline-primary' : 'btn--normal'"
      @click="setTabNetwork(i)"
      v-if="(getViewType==='model') && !isStatisticsOrTestOpened && !tab.networkMeta.hideModel"
    )
    
      .d-flex.align-items-center 
        .unsaved-changes-indicator(v-show="hasUnsavedChanges(tab.networkID)")
        text-editable.tab_name(
          :text-title="tab.networkName"
          @change-title="set_networkName"
        )

      button.btn.btn--icon.tab_close(type="button"
        @mouseout="$event.target.classList.remove('hover')"
        @mouseover="$event.target.classList.add('hover')"
        @click.stop="hideModelTab(i)"
      )
        i.icon.icon-close

    li.btn.bookmark_tab(
      v-if="(getViewType==='statistic') && (typeof tab.networkMeta.openStatistics === 'boolean')  && !tab.networkMeta.hideStatistics"
      :class="{'btn--outline-primary': currentStatsIndex === i && tab.networkMeta.openStatistics, 'btn--outline-primary': currentNetworkIndex === i, 'btn--normal': !(currentStatsIndex === i && tab.networkMeta.openStatistics)}"
      @click="openStatistics(i)"
    )

      text-editable.tab_name(
        :text-title="tab.networkName"
        @change-title="set_networkName"
      )

      button.btn.btn--icon.tab_close(type="button"
        @mouseout="$event.target.classList.remove('hover')"
        @mouseover="$event.target.classList.add('hover')"
        @click.stop="hideStatsTab(i)"
      )
        i.icon.icon-close
      //- i.icon(:class="{'icon-circle-o': trainingWaiting(i), 'icon-circle-o green-color-icon': trainingInProcess(i), 'icon-ellipse green-color-icon': trainingFinished(i) }")

    li.bookmark_tab(
      v-if="(getViewType==='test') && (typeof tab.networkMeta.openTest === 'boolean') && !tab.networkMeta.hideTest"
      :class="{'btn--outline-primary': currentStatsIndex === i && tab.networkMeta.openTest, 'btn--outline-primary': currentNetworkIndex === i, 'btn--normal': !(currentStatsIndex === i && tab.networkMeta.openTest)}"
      @click="openTest(i)"
    )
      text-editable.tab_name(
        :text-title="tab.networkName"
        @change-title="set_networkName"
      )
      button.btn.btn--icon.tab_close(type="button"
        @mouseout="$event.target.classList.remove('hover')"
        @mouseover="$event.target.classList.add('hover')"
        @click.stop="hideTestTab(i)"
      )
        i.icon.icon-close

.tab-arrow.right(
  v-show="tabArrows.show"
  :class="{'disabled': !tabArrows.isRightActive }"
  @mousedown="onTabArrowMouseDown(25)"
  @mouseup="onTabArrowMouseUp"
  @mouseout="onTabArrowMouseUp")
  span &gt;

//- .toggle-sidebar(
//-   :class="{'hide-sidebar': !hideSidebar}"
//-   ref="sidebarToggle")
//-   button.btn.btn--toolbar(type="button" @click="toggleSidebar()")
//-     i.icon.icon-hide-right
