.tab-arrow(
  v-show="tabArrows.show"
  :class="{'disabled': !tabArrows.isLeftActive }"
  @mousedown="onTabArrowMouseDown(-25)"
  @mouseup="onTabArrowMouseUp"
  @mouseout="onTabArrowMouseUp")
  span &lt;

ul.bookmark_tab-list
  .tab-group(
    v-for="(tab, i) in workspace"
    :key="i"
    v-if="!isStatistiOrTestOpened || (tab.networkMeta.openStatistics !== null && isStatistiOrTestOpened && statisticsIsOpen) || (isStatistiOrTestOpened && tab.networkMeta.coreStatus.Status === 'Finished' && testIsOpen)"
    )
    
    li.bookmark_tab.workspace_tab(
      :class="{'workspace_tab--active': indexCurrentNetwork === i && !tab.networkMeta.openStatistics && !tab.networkMeta.openTest, 'workspace_tab--active_network': indexCurrentNetwork === i, 'workspace_tab--disable': false }"
      @click="setTabNetwork(i)"
      v-if="!isStatistiOrTestOpened"
      )
      
      text-editable.tab_name(
        :text-title="tab.networkName"
        @change-title="set_networkName"
        )
      
      button.btn.btn--icon.tab_close(type="button"
        :disabled="workspace.length <= 1"
        @click.stop="deleteTabNetwork(i)"
        @mouseout="$event.target.classList.remove('hover')"
        @mouseover="$event.target.classList.add('hover')"
      )
        i.icon.icon-close
        .unsaved-changes-indicator(v-show="hasUnsavedChanges(tab.networkID)")
    
    li.bookmark_tab.workspace_tab(
      v-if="tab.networkMeta.openStatistics !== null && isStatistiOrTestOpened && statisticsIsOpen"
      :class="{'workspace_tab--active': indexCurrentNetwork === i && tab.networkMeta.openStatistics, 'workspace_tab--active_network': indexCurrentNetwork === i, 'workspace_tab--disable': false}"
      @click="openStatistics(i)"
    )

      text-editable.tab_name(
        :text-title="tab.networkName"
        @change-title="set_networkName"
        )

      button.btn.btn--icon.tab_close(type="button"
        :disabled="workspace.length <= 1"
        @click.stop="deleteTabNetwork(i)"
        @mouseout="$event.target.classList.remove('hover')"
        @mouseover="$event.target.classList.add('hover')"
      )
        i.icon.icon-close
        .unsaved-changes-indicator(v-show="hasUnsavedChanges(tab.networkID)")
      //- i.icon(:class="{'icon-circle-o': trainingWaiting(i), 'icon-circle-o green-color-icon': trainingInProcess(i), 'icon-ellipse green-color-icon': trainingFinished(i) }")
       
    
    li.bookmark_tab.workspace_tab(
      v-if="isStatistiOrTestOpened && tab.networkMeta.coreStatus.Status === 'Finished' && testIsOpen"
      :class="{'workspace_tab--active': indexCurrentNetwork === i && tab.networkMeta.openTest, 'workspace_tab--active_network': indexCurrentNetwork === i, 'workspace_tab--disable': false}"
      @click="openTest(i)"
    )
      text-editable.tab_name(
        :text-title="tab.networkName"
        @change-title="set_networkName"
        )
      button.btn.btn--icon.tab_close(type="button"
        :disabled="workspace.length <= 1"
        @click.stop="deleteTabNetwork(i)"
        @mouseout="$event.target.classList.remove('hover')"
        @mouseover="$event.target.classList.add('hover')"
      )
        i.icon.icon-close
        .unsaved-changes-indicator(v-show="hasUnsavedChanges(tab.networkID)")

.tab-arrow.right(
  v-show="tabArrows.show"
  :class="{'disabled': !tabArrows.isRightActive }"
  @mousedown="onTabArrowMouseDown(25)"
  @mouseup="onTabArrowMouseUp"
  @mouseout="onTabArrowMouseUp")
  span &gt;

view-box-btn-list.statistics-tabs(
  v-if="statisticsIsOpen && !testIsOpen"
  :data-tutorial-target="'tutorial-statistics-tabs'"
  :layerType="'Training'")

//- .toggle-sidebar(
//-   :class="{'hide-sidebar': !hideSidebar}"
//-   ref="sidebarToggle")
//-   button.btn.btn--toolbar(type="button" @click="toggleSidebar()")
//-     i.icon.icon-hide-right
